<!-- <!DOCTYPE html>
<html>
	<title>Stripe Payment Demo</title>
	<body>
		<h3>Welcome to Payment Gateway</h3>
		<form action="payment" method="POST">
			<script
				src="//checkout.stripe.com/v2/checkout.js"
				class="stripe-button"
				data-key="<%= key %>"
				data-amount="75"
				data-currency="usd"
				data-name="Khushbooo"
				data-description="Demo of stripe payment"
				data-locale="auto"
			></script>
		</form>
	</body>
</html> -->

<!DOCTYPE html>
<html>
	<title>Stripe Payment Demo</title>
	<body>
		<h3>Welcome to Payment Gateway</h3>
		<form action="charge" method="POST">
			<script
				src="//checkout.stripe.com/v2/checkout.js"
				class="stripe-button"
				data-key="<%= key %>"
				data-amount="75"
				data-currency="usd"
				data-name="Payment"
				data-description="Testing of stripe payment"
				data-locale="auto"
			></script>
		</form>
	</body>
</html>
